Django==1.9.7
Pillow==3.3.0
argparse==1.2.1
backports.shutil-get-terminal-size==1.0.0
crc16==0.1.1
decorator==4.0.10
django-crispy-forms==1.6.0
ipython==4.2.1
ipython-genutils==0.1.0
pathlib2==2.1.0
pexpect==4.2.0
pickleshare==0.7.2
psycopg2==2.6.1
ptyprocess==0.5.1
python-redis==0.0.7
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.2
wsgiref==0.1.2
git+https://github.com/timmyomahony/django-charsleft-widget.git
