backports.shutil-get-terminal-size==1.0.0
contextlib2==0.5.5
crc16==0.1.1
decorator==4.2.1
Django==1.11.29
git+https://github.com/timmyomahony/django-charsleft-widget.git
django-crispy-forms==1.7.2
django-environ==0.4.4
django-redis==4.9.0
easy-thumbnails==2.5
enum34==1.1.6
ipython==5.5.0
ipython-genutils==0.2.0
Markdown==2.6.11
pathlib2==2.3.0
pexpect==4.4.0
pickleshare==0.7.4
Pillow==6.2.0
pkg-resources==0.0.0
prompt-toolkit==1.0.15
psycopg2==2.7.4
ptyprocess==0.5.2
Pygments==2.2.0
pytz==2018.3
raven==6.6.0
redis==2.10.6
scandir==1.7
simplegeneric==0.8.1
six==1.11.0
traitlets==4.3.2
wcwidth==0.1.7
