{% extends "base.html" %}
{% load crispy_forms_tags staticfiles %}

{% block title %}Spurningar{% endblock title %}

{% block extrahead %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.js"></script>
<link rel="stylesheet" href="{% static 'charsleft-widget/css/charsleft.css' %}">
<script src="{% static 'charsleft-widget/js/charsleft.js' %}"></script>
{% endblock extrahead %}

{% block content %}
<form action="{{ answerform.helper.form_action }}" id="{{ answerform.helper.form_id }}" method="{{ answerform.helper.form_method }}">{% csrf_token %}
    {% for field in answerform %}
        {% if 'q_' in field.name %}
        <div id="{{ field.id_for_label }}_label" class="form-block form-question clearfix">
        {% endif %}

            {% if 'q_' in field.name %}
            <h2 class="question-text">{{ field.label }}</h2>
            <div class="question-choices">
                {{ field }}
            </div>
	    <div>
	        {{ field.errors }}
	    </div>
            {% endif %}

            {% if 't_' in field.name %}
            <h3 class="qtext-title">{{ field.label }}</h3>
            <div class="qtext-field">
	        {{ field.errors }}
                <span class="charsleft charsleft-textarea">
                    <textarea name="{{ field.name }}" id="id_{{ field.name }}">{{ field.value }}</textarea>
                    <div class="qtext-charsleft">
                        <span class="count">{{ field.field.max_length }}</span> stafabil eftir
                        <span class="maxlength">{{ field.field.max_length }}</span>
                    </div>
                </span>
            </div>
            {% endif %}            

        {% if 't_' in field.name %}
        </div>
        {% endif %}
    {% endfor %}
    <div class="form-block form-submit clearfix">
        <button type="submit" name="submit" class="button submit-button">Senda svör</button>
    </div>
</form>
{% endblock content %}

{% block extrabottom %}
<script>
    //Handles selecting a radio button
    $(".question-choices li label").click(
        function(e) {
            e.preventDefault();
            var set = $(this).parents(".question-choices");
            set.find(":radio").removeAttr("checked","checked");
            set.find("li.selected").removeClass("selected");
            $(this).children(":radio").attr("checked","checked");
            $(this).parents("li").addClass("selected");
        }
    );

    $(".charsleft-textarea").charsLeft({
      'source':'textarea',
      'dest':".count",
    });
var json={ 
  "id" : 12,
  "name": "Jack",
  "description": "Description"
};
// perpopulate if there are old answers
$.getJSON('/oldanswers/{{ election }}/', function(jsondata) {
  var arrayLength = jsondata.length;
  for (var kv in jsondata) {
    var key = jsondata[kv][0];
    var value = jsondata[kv][1]
    var $el = $('[name="'+key+'"]'),
    type = $el.attr('type');
    switch(type){
        case 'radio':
            $("#"+value).click()
            break;
        default:
            $el.val(value);
		      }
		      }

});

</script>
{% endblock extrabottom %}
