{% extends "base.html" %}
{% load thumbnail %}
{% block content %}
<div class="form-block form-user">
<h2>{{ cand.name }}</h2>
<img src="{{ cand.picture|thumbnail_url:"large" }}">
<div>{{ cand.blurb }}</div>
<table class="table">
<thead>
<tr><td>Spurning</td><td>Afstaða frambjóðanda</td>{% if request.session.voterdata %}<td>Mín afstaða</td>{% endif %}<td>Nánari afstaða frambjóðanda</td>
</thead>
<tbody>
{% for question, c_text, v_pos, c_pos in questions %}
<tr><td>{{ question.get_text }}</td>{% if request.session.voterdata %}<td>{{ v_pos }}</td>{% endif %}<td>{{ c_pos }}</td><td>{{ c_text }}</td></tr>
{% endfor %}
</tbody>
</table>
</div>
{% endblock content %}
