{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Samanburður - {% endblock title %}

{% block content %}
<div class="form-block form-user">
<table class="table table-striped" style="width: 100%;">
<thead>
<tr><th>Frambjóðandi</th><th>Hversu sammála</th></tr>
</thead>
<tbody>
{% for cand, percent in data %}
  <tr><td><span><img src="{{ cand.picture|thumbnail_url:"small" }}"></span><a href="/candidate/{{ cand.pk }}/">{{ cand.name }}</a></td><td>{{ percent | floatformat:0 }}%</td>
{% endfor %}
</tbody>
</table>
</div>
{% endblock content %}
