{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Samanburður - {% endblock title %}

{% block content %}
<div>
  <span style="float:left"><a href="/absents/{{ election }}/">Frambjóðendur sem ekki hafa svarað</a></span>
  <span style="float:right"><a href="/clearsession/">Gleyma mér (svör þín flytjast ekki lengur milli síðna)</a></span>
</div>
<div class="form-block form-user">
<table class="table table-striped" style="width: 100%;">
<thead>
<tr><th>Frambjóðandi</th><th>Hversu sammála</th></tr>
</thead>
<tbody>
{% for cand, percent in data %}
  <tr><td><span><img style="float:left" src="{{ cand.picture|thumbnail_url:"xs" }}"></span><a href="/candidate/{{ cand.pk }}/">{{ cand.name }}</a></td><td>{{ percent | floatformat:0 }}%</td>
{% endfor %}
</tbody>
</table>
</div>
{% endblock content %}
