{% extends "base.html" %}

{% block title %}Hver er þinn frambjóðandi?{% endblock title %}

{% block content %}
<div class="home-screen">
    <h4 class="home-label">Kosningapróf 2016</h4>
    <h1 class="home-title">Hver er þinn frambjóðandi?</h1>
    <div class="home-intro">
        <p>Fugitibus, consedi blaborem quistias autam fugias sit qui dolupta spiciend. Ignisitibusam eatia sum fugia delesequia dolecae liqui aut in res dellibus duciant emporem. Heni quo blant, offic tem volutate venet resequi volore disimint.</p>
        <p>Facest, coratur as dolorerites ulpa velesequia voluptiandae sa nostis cor ant am haristium quo eum harupturia qui voluptas id quate molorrum volorepre sequi dolorrorum. Assumquo quas etur aut prest dolorum voluptam di que laborepe iliqui aut facius, opta nonseque nam fugit, cus del ipiciisciis.</p>
    </div>
    <div class="home-taketest">
        <a href="/voterform/" class="button">Taka prófið!</a>
    </div>
</div>

{% endblock content %}
