{% extends "base.html" %}
{% load crispy_forms_tags staticfiles %}

{% block extrahead %}
<link rel="stylesheet" href="{% static 'charsleft-widget/css/charsleft.css' %}">
<script src="{% static 'charsleft-widget/js/charsleft.js' %}"></script>
{% endblock extrahead %}

{% block content %}
<form action="{{ userpageform.helper.form_action }}" id="{{ userpageform.helper.form_id }}" method="{{ userpageform.helper.form_method }}">{% csrf_token %}
    <div class="form-block form-user">
    {% for field in userpageform %}

        {% if field.name == 'blurb' %}
        <div class="form-group qtext-field">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <span class="charsleft charsleft-textarea">
                <textarea name="{{ field.name }}" id="{{ field.id_for_label }}"></textarea>
                <div class="qtext-charsleft">
                    <span class="count">{{ field.field.max_length }}</span> stafabil eftir
                    <span class="maxlength">{{ field.field.max_length }}</span>
                </div>
            </span>
        </div>
        {% else %}
        <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {{ field }}
        </div>
        {% endif %}
    {% endfor %}
        <div class="form-group form-submit clearfix">
            
            <button type="submit" name="submit" class="button">Vista</button>
            <hr>
            <a href="/candanswer/reykjavik2016/">Svara spurningum</a>
        </div>
    </div>
</form>
{% endblock content %}

{% block extrabottom %}
<script>

    $(".charsleft-textarea").charsLeft({
      'source':'textarea',
      'dest':".count",
    });

</script>
{% endblock extrabottom %}
