{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Spurningar - {% endblock title %}

{% block content %}
<form action="{{ voterform.helper.form_action }}{{ election }}/" id="{{ voterform.helper.form_id }}" method="{{ voterform.helper.form_method }}">{% csrf_token %}
  {% csrf_token %}
    {% for field in voterform %}
        {% if 'q_' in field.name %}
        <div id="{{ field.id_for_label }}" class="form-block form-question clearfix">
        {% endif %}

            {% if 'q_' in field.name %}
            <h2 class="question-text">{{ field.label }}</h2>
            <div class="question-choices">
                {{ field }}
            </div>
            {% endif %}

            {% if 'i_' in field.name %}
            <h3 class="importance-title">{{ field.label }}</h3>
            <div class="importance-choices">
                {{ field }}
            </div>
            {% endif %}            

        {% if 'i_' in field.name %}
        </div>
        {% endif %}
    {% endfor %}
    <div class="form-block form-submit clearfix">
        <button type="submit" name="submit" class="button submit-button">Fá samanburð</button>
    </div>
</form>
{% endblock content %}

{% block extrabottom %}
<script>
    //Handles selecting a radio button
    $(".question-choices li label").click(
        function(e) {
            e.preventDefault();
            var set = $(this).parents(".question-choices");
            set.find(":radio").removeAttr("checked","checked");
            set.find("li.selected").removeClass("selected");
            $(this).children(":radio").attr("checked","checked");
            $(this).parents("li").addClass("selected");
        }
    );
</script>
{% endblock extrabottom %}
